### 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+	
6

In [1]:
type('hello')

str

In [2]:
type(87.8)

float

In [4]:
type(6)

int

Expression- is a combination of values, variables, operators, and calls to functions

In [5]:
87.6/6

14.6

In [6]:
len('hello')

5

### 2. What is the difference between string and variable?

String is a text which is written in double quotes or single quote in python.
Variable is an container or reserved space in the RAM which holds any type of values and it may change its value during the execution.

### 3. Describe three different data types.

The type of the value that the variable holds is called as datatype.
Python builtin datatypes are:

Text Type		:	str

Numeric Types	:	int, float, complex

Sequence Types	:	list, tuple, range

Mapping Type	:	dict

Set Types		:	set, frozenset

Boolean Type	:	bool

Binary Types	:	bytes, bytearray, memoryview

### 4. What is an expression made up of? What do all expressions do?

An expression is a combination of operators and operands that is interpreted to produce some other value.
Types of Expressions:

In [7]:
# Constant Expressions
x = 15 + 1.3
print(x)

16.3

In [8]:
# Arithmetic Expressions
x = 40
y = 12
  
add = x + y
sub = x - y
pro = x * y
div = x / y
  
print(add)
print(sub)
print(pro)
print(div)

52
28
480
3.3333333333333335

In [9]:
# Integral Expressions
a = 13
b = 12.0
  
c = a + int(b)
print(c)

25

In [10]:
# Floating Expressions
a = 13
b = 5
  
c = a / b
print(c)

2.6

In [11]:
# Relational Expressions
a = 21
b = 13
c = 40
d = 37
  
p = (a + b) >= (c - d)
print(p)

True

In [12]:
P = (10 == 9)
Q = (7 > 5)
  
# Logical Expressions
R = P and Q
S = P or Q
T = not P
  
print(R)
print(S)
print(T)

False
True
True

In [13]:
# Bitwise Expressions
a = 12
  
x = a >> 2
y = a << 1
  
print(x, y)

3 24

### 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Evaluation of an expression always produces or returns a result value.
Execution of a statement may or may not produces or displays a result value, it only does whatever the statement says.

### 6. After running the following code, what does the variable bacon contain?

In [14]:
bacon = 22
bacon + 1

23

### 7. What should the values of the following two terms be?

In [16]:
'spam' + 'spamspam'

'spamspamspam'

In [17]:
'spam' * 3

'spamspamspam'

### 8. Why is eggs a valid variable name while 100 is invalid?

Variable is valid only if starts with alphabet, does not include space, and
should not starts with numbers. As 100 starting with number, it is not valid and eggs is valid.

### 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [18]:
int()

0

In [19]:
float()

0.0

In [26]:
str()

''

### 10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [31]:

#   'I have eaten ' + 99 + ' burritos.' ====> can only concatenate str (not "int") to str. So, we have to convert integer into string.

In [32]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'